@page "/"

    <PageTitle>NASA Photos</PageTitle >

        <h1>Hello, world!</h1>

    Welcome to your new app.

@if (Got == null)
{
        <p>Loading</p >
}
else
{
            <h1>@Got </h1 >
}
@* <SurveyPrompt Title = "How is Blazor working for you?" />


    <FetchData /> *@

@code {
    private GetDataNasa[] Got;
    protected override async Task OnInitializedAsync()
    {
        @* Got = `asas`; *@
    }
    public class GetDataNasa
    {
        public string Name { get; set; }
    }
            }